#block-stopwatchblock {
  color: #dad6d6;
  background: #171a21;
  text-align: center;
}

#block-stopwatchblock h2 {
  font-size: 30px;
}

#stopwatch {
  font-size: 46px;
  letter-spacing: 2px;
  margin: 0 auto;
  width: 100%;
}

#stopwatch_button {
  margin: 0 auto;
  width: 100%;
  position: relative;
  text-align: center;
}

#stopwatch_start {
  margin: 0 auto;
  text-align: center;
  color: #dad6d6;
  background: #48633b;
  border: solid 2px #35492c;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

#stopwatch_stop {
  margin: 0 auto;
  text-align: center;
  color: #dad6d6;
  background: #721329;
  border: solid 2px #590f20;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

#stopwatch_clear {
  margin: 0 auto;
  text-align: center;
  color: #dad6d6;
  background: #564e58;
  border: solid 2px #3e383f;
  border-radius: 5px;
  padding: 10px;
  letter-spacing: 2px;
  cursor: pointer;
}
